@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web";
}

html{
    height: 100vh;
    background-image: url(img/fund3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-position: center center;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.container-header{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: black;
    width: 100%;
    padding: 2px
}

.logo, .sociais{
    width: 25%;
}

.logo img{
    width: 200px;
    cursor: pointer;
}

.menu{
    width: 50%;
    text-align: center;
}

.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 50px;
    font-size: 20px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #640a58, #ff0077);
    position: absolute;
    top: 33px;
    left: 0;
    transition: width 0.4s;
}

.menu nav a:hover::after{
    width: 40px;
}

.sociais button{
    width: 60px;
    height: 35px;
    background-image: linear-gradient(45deg, #640a58, #ff0077);
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}
.sociais button:hover{
    background-image: linear-gradient(45deg, #da7de2, #197bbd);
    cursor: pointer;
}

.sociais button i{
    font-size: 25px;
    color: white;
}

.menu button {
    background-image: linear-gradient(45deg, #a80392, #6904bb);
    border: none;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    padding: 7px 7px;
    font-size: 15px;

}

.menu button:hover {
    background-image: linear-gradient(45deg, #da7de2, #197bbd);
    cursor: pointer;
}


.mae{
    margin: 10px 100px;

}


.filha{
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: none;
    border-radius: 20px;
}

.filha span{
    color: #c50c78;
}

p{
    font-size: 20px;
}

h1{
    font-size: 30px;
    text-align: center;
}

.container-vi {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 350px;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  video {
    width: 400px;
    height: 240px;
  }
  
  /* Add this to center the container horizontally */
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }
  
  
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    
    .rodape {
        background-color: #000000; /* Cor de fundo cinza */
        padding: 10px 20px; /* Espaçamento interno */
        color: #ffffff;
        font-size: 13px;
        width: 100%; /* Largura total */
        bottom: 0; /* Alinha o rodapé na parte inferior */
        text-align: end; /* Centraliza o texto */
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      .rodape i {
        color: #661366;
    }



      @media (max-width: 480px) {
        .container-header {
            flex-direction: column;
            align-items: flex-start;
            padding: 12px;
        }

        .logo{
            text-align: center;           
        }
    

        
        .logo, .sociais, .menu {
            width: 100%;
        }
    
        .sociais {
            margin-top: 10px;           
            text-align: center;
        }
    
        .menu {
            margin-top: 10px;
            margin: 0 100px;
            
        }
    
        .menu nav {
            display: flex;
            text-align: center;
            align-items: center;
        }
    
        .menu nav a {
            padding: 10px;
        }
    
        .menu button {
            margin-top: -3px;
        }

        .menu nav a::after{
            content: " ";
            width: 0px;
            height: 4px;
            background-image: linear-gradient(45deg, #640a58, #ff0077);
            position: absolute;
            top: 40px;
            left: 10px;
            transition: width 0.4s;
        }
        .menu nav a:hover::after{
            width: 30px;
        }
        
    
        .mae {
            margin: 10px;
        }
    
        .container-vi {
            flex-direction: column;
            align-items: center;
        }
    
        img {
            width: 70%;
            margin-right: 0;
        }
    
        video {
            width: 80%;
            height: auto;
        }
        .rodape {
            padding: 20px; /* Espaçamento interno em todas as direções */
        /* Remove o posicionamento inferior */
        margin-top: 2%;
        position: relative; /* Altera o posicionamento para absoluto */
        width: 100%; /* Largura total */
        height: 32%;
          }
    }